/* css/about.css */
.about-me {
    padding: 50px 0;
    text-align: center;
}

.about-me p {
    margin-bottom: 20px;
}

.about-img img {
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.about-img img:hover {
    transform: scale(1.1);
}
